# {version}

```python
load("@bazel//tools/build_defs/repo:http.bzl", "http_archive")

http_archive(
    name = "rules_ansible",
    integrity = "sha256-{sha256_base64}",
    urls = ["https://github.com/abrisco/rules_ansible/releases/download/{version}/rules_ansible-{version}.tar.gz"],
)
```

Additional documentation can be found at: https://github.com/abrisco/rules_ansible
