# Bazel configuration flags

# Aspects for running ansible-lint
build:ansible_lint --aspects=//ansible:defs.bzl%ansible_lint_aspect
build:ansible_lint --output_groups=+ansible_lint_checks

build:strict --config=ansible_lint

# This flag should always go last
try-import %workspace%/user.bazelrc
